@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('"https://fonts.googleapis.com/css2?family=Philosopher&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&display=swap');

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: helvetica, arial, sans-serif;
    color: black;
  }
  
  h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
    color:#c77dff;
    max-width: 767px;
    text-align: center;
  }
  
  h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #240046;
  }
  
  header, main, footer {
    margin: 1.25rem;
    padding: .5rem;
    max-width: 50em;
  }
  
  header, footer, footer a {
    text-align: center;
    background-color: #10002b;
    color: #c77dff;
    box-shadow: 2px 6px 12px rgba(0, 0, 10, 0.50);
    max-width: 100%;
  }
  
  header img {
    width: 225px;
    height: auto;
    float: right;
    box-shadow: 2px 6px 12px rgba(0, 0, 10, 0.50);
    margin: 30px;
    border: 3px solid #10002b;
    border-radius: 10px;
    transform: rotate(3.5deg);
  }
  
  footer {
    font-size: 1em;
  }
