@media only screen and (min-width: 32.5em) {

    body {
      width: 1000px;
    }
  
    h1 {
      font-size: 2.5em;
      margin-top: 17px;
      margin-left: 500px;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
      max-width: 900px;
  }
  
    h2 {
      font-size: 1.8em;
    }
  
    .motto {
      letter-spacing: 1.5pt;
      font-size: larger;
      font-size: 1.5em;
  }

    .navbar {
          display: flex;
    }

    .navbar li {
          display: block; 
          flex: 1 1 auto;
    }

    .navbar a {
          text-align: center;
    }

    .navbar li:first-child {
          display: none;
    }

    
  }