@media only screen and (min-width: 700px) {

  #announce {
    height: 25px;
  }

  #article_img {
    padding-left: 5px;
    float: right;
    width: 35%;
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards section:nth-child(odd) img {
    grid-column: 1;
  }

  .cards section:nth-child(odd) #details {
    grid-column: 2;
    grid-row: 1;
  }

  .contact_info {
    grid-column: 2;
    grid-row: 1;
  }

  .contactdiv {
    grid-template-columns: 1fr 1fr;
  }

    body {
      width: 1000px;
    }
  
    h1 {
      font-size: 2.5em;
      margin-top: 17px;
      margin-left: 500px;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
      max-width: 900px;
  }
  
    h2 {
      font-size: 1.8em;
    }

    .navbar {
          display: flex;
    }

    .navbar li {
          display: block; 
          flex: 1 1 auto;
    }

    .navbar a {
          text-align: center;
    }

    .navbar li:first-child {
          display: none;
    }

    
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  .cards section:nth-child(odd) img {
    grid-column: 1;
  }

  .cards section:nth-child(odd) #details {
    grid-column: 2;
    grid-row: 1;
  }

  .sunnyimg {
    width: 100%;
  }